BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 0
PointerAlignment: Left
SortIncludes: true
IncludeCategories:
  # Normal
  - Regex: '^".*[^"]$'
    Priority: 2

  # Generated
  - Regex: '^".*\.generated\.h"$'
    Priority: 3
